/**
 * CSS Module per i badge riutilizzabili
 * Utilizzato da DefaultBadge e DisabledBadge
 */

.defaultBadge {
  font-size: 0.625rem;
  padding: 0.125rem 0.375rem;
  background-color: #dbeafe;
  color: #1e40af;
  border-radius: 0.25rem;
  font-weight: 500;
}

.disabledBadge {
  font-size: 0.625rem;
  padding: 0.125rem 0.375rem;
  background-color: #fee2e2;
  color: #991b1b;
  border-radius: 0.25rem;
  font-weight: 500;
}





